
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495178380179'); /* IE9*/
  src: url('iconfont.eot?t=1495178380179#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495178380179') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495178380179') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495178380179#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chatlist:before { content: "\e601"; }

.icon-bofang:before { content: "\e613"; }

.icon-vip:before { content: "\e6ac"; }

.icon-jiahao:before { content: "\e600"; }

.icon-shuaxin:before { content: "\e62b"; }

.icon-gerenzhongxin:before { content: "\e607"; }

.icon-fenlei:before { content: "\e657"; }

.icon-jianhaocu:before { content: "\e614"; }

.icon-shangchuan:before { content: "\e64d"; }

.icon-xiangzuo:before { content: "\e61f"; }

.icon-bofang1:before { content: "\e635"; }

.icon-renwu:before { content: "\e60e"; }

.icon-bofang2:before { content: "\e60a"; }

.icon-wenhao:before { content: "\e68f"; }

.icon-list:before { content: "\e608"; }

.icon-xiangyou:before { content: "\e6ad"; }

